[submodule "edge"]
	path = edge
	url = https://github.com/Opticmix/opticmix-edge.git
[submodule "tracker"]
	path = tracker
	url = https://github.com/Opticmix/opticmix-tracker.git
[submodule "touchfree"]
	path = touchfree
	url = https://github.com/Opticmix/opticmix-touchfree.git
[submodule "re-docs"]
	path = re-docs
	url = https://github.com/Opticmix/ultraleap-re-docs.git
[submodule "claude-skills"]
	path = claude-skills
	url = https://github.com/Opticmix/claude-skills.git
